# Ignore everything by default.
*

# Explicitly define directories and files to pass into docker.
!/fedimapper
!/.python-version
!/db
!/docker
!/alembic.ini
!/LICENSE
!/makefile
!/pyproject.toml
!/README.md
!/setup.*
!/requirements*
!/data

# Ensure no git repository metadata gets added from the exceptions.
**/.git
